@import "./ActionGroup/index.styles.scss";
@import "./OutputSettingGroup/index.styles.scss";
@import './ActionWritingButton/index.styles.scss';
@import './Dropdown/index.styles.scss';
@import "./LanguageDropdown/index.styles.scss";

//인풋 컨테이너 시작
#ZP_inputWrapperPortals {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  border-bottom-width: 1px;
  border-color: var(--border-color);
  margin: 0 0.5rem 0.5rem 0.5rem;
  & > div:first-of-type {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.625rem;
  }

  & > div:last-of-type {
    display: flex;
    font-size: 0.875rem;
    line-height: 1.25rem;
    gap: 0.75rem;
    justify-content: space-between;
    align-items: flex-end;
  }

}
//인풋 컨테이너 끝