#ZP_actionGroup {
  position: relative;
  display: inline-flex;
  color: var(--black-color-90);
  background-color: var(--background-color);
  border-radius: 0.375rem;
  cursor: pointer;
  visibility: visible;
  height: 2rem;

  &.ZP_invisible {
    visibility: hidden;
  }
}