* {
  box-sizing: content-box;
}


:root {
  /* Colors */
  // #ffffff
  --white-color-100: rgba(255, 255, 255, 1);
  --white-color-80: rgba(255, 255, 255, 0.8);

  // #000000
  --black-color-100: rgba(0, 0, 0, 1);
  --black-color-90: rgba(0, 0, 0, 0.9);
  --black-color-70: rgba(0, 0, 0, 0.7);
  --black-color-50: rgba(0, 0, 0, 0.5);
  --black-color-30: rgba(0, 0, 0, 0.3);
  --black-color-10: rgba(0, 0, 0, 0.1);

  // #303030
  --dark-color-100: rgba(48, 48, 48, 1);
  --dark-color-50: rgba(48, 48, 48, 0.5);
  --dark-color-30: rgba(48, 48, 48, 0.3);


  /* Shadows */
  --shadows-sm: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
  0px 4px 6px -2px rgba(0, 0, 0, 0.05);

  /* Background */
  --background-color: rgba(247, 247, 247, 1);
  --background-color-hover: rgba(130, 200, 255, 0.08);
  --background-dropdown: rgba(247, 247, 247, 1);
  --background-input: rgba(255, 255, 255, 1);
  --background-modal: rgba(255, 255, 255, 1);

  /* Border Color */
  --border-color: rgba(217, 217, 227, 1);

  --logo-color: rgba(44, 55, 43, 1);

  --input-focus-color: #10C600;

  /* 공통 css */
  // 시멘틱 컬러 (변경되지 않음)
  --white-color: rgba(255, 255, 255, 1); // 고정값
  --black-color: rgba(0, 0, 0, 1); // 고정값
  --primary-color: rgba(16, 198, 0, 1); // #10C600
  --primary-color-80: rgba(16, 198, 0, 0.8);
  --primary-color-50: rgba(16, 198, 0, 0.5);
  --success-color: #4ADE80;
  --danger-color: #F87171;
  --info-color: #22DDEE;
  --warn-color: #FBBF24;
  --link-color: #60A5FA;
  --heart-color: rgba(255,45,45,0.7);
  --bookmark-color: #10C600;
  --GPT-color: #74AA9C;

  /* Radius */
  --borders-radius-base: 8px;
  --borders-radius-lg: 12px;
  --borders-radius-xl: 16px;
  --borders-radius-2xl: 24px;
  --borders-radius-round: 50%;

  /* Font Sizes */
  --fonts-body-sm: 0.875rem;
  --fonts-body-base: 1rem;

  /* Font Weights */
  --fonts-heading: 600;
  --fonts-body: 400;
}

.dark {
  /* Colors */
  // #ffffff(라이트) -> #303030(다크)
  --white-color-100: rgba(48, 48, 48, 1);
  --white-color-80: rgba(48, 48, 48, 0.8);

  // #000000(라이트) -> #ffffff(다크)
  --black-color-100: rgba(255, 255, 255, 1);
  --black-color-90: rgba(255, 255, 255, 0.9);
  --black-color-70: rgba(255, 255, 255, 0.7);
  --black-color-50: rgba(255, 255, 255, 0.5);
  --black-color-30: rgba(255, 255, 255, 0.3);
  --black-color-10: rgba(255, 255, 255, 0.1);

  /* Shadows */
  --shadows-sm: 0px 10px 15px -3px rgba(16, 198, 0, 0.1),
  0px 4px 6px -2px rgba(16, 198, 0, 0.05);

  /* Background */
  --background-color: rgba(255, 255, 255, 0.05);
  --background-color-hover: rgba(130, 200, 255, 0.08);
  --background-dropdown: rgba(42, 43, 54, 1);
  --background-input: rgba(255, 255, 255, 0.05);
  --background-modal: rgba(52, 53, 65, 1);

  /* Border Color */
  --border-color: rgba(255, 255, 255, 0.5);

  --logo-color: rgba(255, 255, 255, 1);

  --input-focus-color: #107600;
}

// 멀티라인 말줄임 표시
// $line-cnt : 라인 수
// $line-height : line-height값
// 사용법 : @include ellipsis(3, 1.6em);
@mixin ellipsis($line-cnt, $line-height) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line-cnt; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: $line-height;
  height: $line-height * $line-cnt; /* line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 3 = 3.6em */
}


