$theme-colors: (
        primary: #10C600,
        white: #fff,
        black: #000,
        success: #4ADE80,
        danger: #F87171,
        info: #22DDEE,
        warn: #FBBF24,
        link: #60A5FA,
        heart: #FF2D2D,
        bookmark: #10C600,
        background: #F5F6FA,
        GPT: #74AA9C,
)

