.ZP_overlay{
  & > div {
    width: 100%;
    background-color: var(--background-modal);
  }

  .ZP_modal-content,
  .ZP_modal-button-wrapper{
    width: 100%;
    padding: 0.75rem 1rem;
  }

  .ZP_modal-content {
    height: 100%;
  }

  .ZP_modal-button-wrapper {
    background-color: blue;
  }

  .signup__close-button {
    position: absolute;
    inset: 1rem 1rem auto auto;
  }

  /* 구글 로그인, 회원가입 모달 */
  #authModalLinkWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.875rem;
    width: 60%;

    #ZP_logo{
      width: 200px;
      margin-bottom: 0.75rem;
    }

    h1{
      font-size: 1.2rem;
      margin-bottom: 1.25rem;
    }

    a {
      color: var(--black-color);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3.5rem;
      height: 3.5rem;
      border: none;
      border-radius: 0.25rem;
      box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
      cursor: pointer;
      transition: box-shadow .25s ease,transform .25s ease, color .5s ease;
      span {
        width: 1.5rem;
        height: 1.5rem;
      }

      &:first-of-type{
        margin-bottom: 1rem;
      }
      &:hover {
        box-shadow: 0 1rem 2.5rem rgba(16, 198, 0,.1),0 .5rem 1rem -.75rem rgba(27,22,66,.1)!important;
        transform: translate3d(0,-3px,0);
      }
    }
  }

  /* 최종 회원가입 모달 */
  .signup__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;

    #ZP_logo{
      width: 200px;
      margin-bottom: 0.75rem;
    }

    .signup__title {
      display: flex;
      align-items: center;
      margin-bottom: 0.625rem;
      span {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 0.5rem;
        overflow: hidden;
        margin-right: 0.375rem;
        img {
          width: 100%;
          aspect-ratio: 1 / 1;
        }
      }
    }

    .signup__desc {
      margin-bottom: 1rem;
      color: var(--black-color-70);
    }

    .signup__form{
      width: 100%;
      text-align: center;
      .signup__nickname-input {
        width: 100%;
        height: 3rem;
        border-radius: var(--borders-radius-base);
        border: 2px solid var(--black-color-50);
        background-color: transparent;
        padding-left: 1rem;

        &:focus,
        &:active{
          outline: none;
          box-shadow: none;
        }
      }

      .signup__submit-button{
        transition: box-shadow .25s ease,transform .25s ease, color .5s ease;
        padding: 0.75rem;
        font-size: 1rem;
        font-weight: 600;
        width: 100%;
        color: var(--white-color);
        border-radius: var(--borders-radius-base);
        background-color: var(--GPT-color);

        &:hover {
          transform: translate3d(0,-3px,0);
        }
      }
    }
  }
}

.logo {
  width: 50%;
  object-fit: contain;
  object-position: center;
  margin-bottom: 1rem;
}




