.ZP_overlay{
  & > div {
    width: 100%;
    background-color: var(--background-modal);
  }

  .ZP_modal-content,
  .ZP_modal-button-wrapper{
    width: 100%;
    padding: 0.75rem 1rem;
  }

  .ZP_modal-content {
    height: 100%;
  }

  .ZP_modal-button-wrapper {
    background-color: blue;
  }

  .signup__close-button {
    position: absolute;
    inset: 1rem 1rem auto auto;
  }

  #authModalLinkWrapper{
    margin-bottom: 0.875rem;
    width: 60%;
    a {
      color: var(--black-color);
      display: flex;
      align-items: center;
      font-size: 0.9rem;
      font-weight: 600;
      transition: box-shadow .25s ease,transform .25s ease, color .5s ease;
      padding: 0.5rem;
      border-radius: var(--borders-radius-base);
      background-color: rgba(255, 255, 255, 0.03);
      height: 3rem;

      span {
        width: 1rem;
        height: 1rem;
        margin-right: 0.5rem;
      }

      &:first-of-type{
        margin-bottom: 1rem;
      }
      &:hover {
        box-shadow: 0 1rem 2.5rem rgba(16, 198, 0,.1),0 .5rem 1rem -.75rem rgba(27,22,66,.1)!important;
        transform: translate3d(0,-3px,0);
      }
    }
  }

}

.logo {
  width: 50%;
  object-fit: contain;
  object-position: center;
  margin-bottom: 1rem;
}




