@import "@assets/style/theme.scss";
@import '@pages/content/components/InputWrapper/index.styles.scss';
@import '@pages/content/components/PromptContainer/index.styles.scss';
@import '@pages/content/components/Modal/index.styles.scss';

* {
  box-sizing: border-box;
}

@keyframes slideUp {
  0% {
    height: 0;
    transform: translateY(100%);
  }
  100% {
    height: fit-content;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    height: fit-content;
    transform: translateY(0);
  }
  100% {
    height: 0;
    transform: translateY(100%);
  }
}

#ZP-backdropRoot {
  & > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    z-index: 9999;
    cursor: default;
  }
}

#ZP-overlayRoot {
  & > div {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-modal);
    border-radius: var(--borders-radius-base);
    width: 50%;
    max-width: 600px;
    height: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    overflow: hidden;
  }
}

#ZP_inputSection {
  animation: slideUp 0.3s forwards;

  &.hide {
    animation: slideDown 0.3s forwards;
  }
}

/* 입력창 숨김 토글 버튼 */
#ZP_hideToggleButton {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: 4.5rem;
  height: 2rem;
  top: 0;
  left: 0.5rem;
  border-width: 1px;
  border-bottom: none;
  border-radius: var(--borders-radius-base) var(--borders-radius-base) 0 0;
  padding: 0.25rem 0.5rem;
  transform: translateY(-100%);
  font-size: var(--fonts-body-sm);
  font-weight: var(--fonts-heading);

  img {
    width: 12px;
    height: 12px;
  }
}

/* TODO 아예 버튼 위치를 변경하는게 좋을 것 같음 */
/* to top 버튼 */
#ZP_toTopButton {
  display: block;
  transform: translateX(-120%);

  &.hide {
    display: none;
  }
}

.ZP_inputFocus {
  border: 1px solid var(--input-focus-color) !important;
}

// 필터
.ZP_prompt-container__filter {
  ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: fit-content;
    background-color: var(--background-color);
    border-radius: var(--borders-radius-base);
    overflow: hidden;
  }

  li {
    display: flex;
    padding: 1rem;
    width: fit-content;
    font-size: var(--fonts-body-sm);
    font-weight: var(--fonts-heading);
    transition: color 0.1s ease-in, background-color 0.1s ease-in;
    color: var(--black-color-50);
    cursor: pointer;

    &.active,
    &:active,
    &:hover {
      font-weight: 800;
      color: var(--black-color-90);
      background-color: var(--background-color-hover);
    }
  }

  li.bookmark {
    fill: var(--black-color-50);
    &.active,
    &:active,
    &:hover {
      font-weight: 800;
      fill: var(--GPT-color);
      background-color: var(--background-color-hover);
    }
  }
}