/* 실제로 클릭해서 간편 프롬프트를 실행하는 부분 버튼 */
#ZP_actionWritingButton {
  width: 100px;
  padding: 0.25rem;
  background-color: transparent;

  &:hover {
    background-color: var(--background-color-hover);
  }
}

.ZP_dropdown-trigger.ZP_action-write {
  border-left: 1px solid;
}
