// 프롬프트 카드
.ZP_prompt-container__prompt-item {
  background-color: var(--background-color);
  cursor: pointer;

  .ZP_prompt-container__prompt-button {
    width: 100%;
  }

  &:hover {
    background-color: var(--background-color-hover);
  }

  /* 프롬프트 카드 내부 스타일 */
  .ZP_prompt-container__prompt-article {
    position: relative;
    text-align: left;
    height: 100%;

    &:hover .ZP_prompt-container__actions-wrapper--hover{
      visibility: visible;
    }

    &:hover .ZP_prompt-container__actions-wrapper--hover button:hover{
      background-color: red;
    }

    .ZP_prompt-container__actions-wrapper--hover{
      visibility: hidden;
    }


    /* 제목, 설명, 날짜 댓글 talks */
    .ZP_prompt-container__content-wrapper {
      border-bottom-width: 1px;
      border-color: var(--border-color);
      padding: 1rem 0.75rem 0.75rem 0.75rem;

      /* 제목 */
      .ZP_prompt-container__title {
        max-width: 70%;
        margin-bottom: 0.75rem;
        font-size: 1.375rem;
        @include ellipsis(2, 1.6rem)
      }
      /* 카테고리 */
      .ZP_prompt-container__category{
        margin-bottom: 0.5rem;
      }

      /* 설명 */
      .ZP_prompt-container__description {
        margin-bottom: 0.75rem;
        color: var(--black-color-50);
        @include ellipsis(3, 1.3rem)
      }

      /* 날짜, 댓글 수, talk 수 */
      .ZP_prompt-container__info-wrapper {
        width: 45%;
        display: flex;
        justify-content: space-between;

        @media (min-width: 1024px) {
          width: 55%;
        }

        @media (min-width: 1440px) {
          width: 90%;
        }

        .ZP_prompt-container__date {

        }

        .ZP_prompt-container__comments-count {

        }

        .ZP_prompt-container__talks-count {

        }
      }
    }

    /* 프로필 좋아요 북마크 */
    .ZP_prompt-container__profile-wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 3rem;
      padding: 0.375rem 0.5rem 0.375rem 1rem;
      font-size: var(--fonts-body-sm);

      .ZP_prompt-container__profile{
        display: flex;
        align-items: center;
        img {
          width: 1.25rem;
          height: 1.25rem;
          border-radius: var(--borders-radius-round);
          margin-right: 0.25rem;
        }
      }

      .ZP_prompt-container__actions-wrapper{
        display: flex;
        .ZP_prompt-container__like{
            margin-right: 0.5rem;
        }
        .ZP_prompt-container__bookmark{

        }
      }
    }
  }
}

.caption {
  font-size: var(--fonts-body-xm);
  color: var(--black-color-30);
}