.ZP_pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 16px;
}

.ZP_pagination__button--prev,
.ZP_pagination__button--page,
.ZP_pagination__button--next{
  border: none;
  border-radius: 8px;
  padding: 8px;
  margin: 0;
  background: black;
  color: white;
  font-size: 1rem;

  &:hover {
    background: tomato;
    cursor: pointer;
    transform: translateY(-2px);
  }

  &:disabled {
    background: grey;
    cursor: revert;
    transform: revert;
  }

  &[aria-current='page'] {
    background: deeppink;
    font-weight: bold;
    cursor: revert;
    transform: revert;
  }
}