{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": ["react", "@typescript-eslint", "prettier"],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "trailingComma": "es5"
      }
    ],
    "no-restricted-syntax": "off",
    "react/react-in-jsx-scope": 0,
    "react/function-component-definition": 0,
    "arrow-body-style": 0,
    "@typescript-eslint/no-shadow": "warn",
    "no-use-before-define": 1,
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "labelComponents": ["CustomInputLabel"],
        "labelAttributes": ["label"],
        "controlComponents": ["CustomInput"],
        "depth": 3
      }
    ],
    "react/jsx-props-no-spreading": [
      "warn",
      {
        "exceptions": ["input"]
      }
    ],
    "import/no-extraneous-dependencies": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "import/prefer-default-export": "warn",
    "react/prop-types": "off",
    "react/require-default-props": "off",
    "react/no-unused-prop-types": "warn",
    "import/no-cycle": "warn",
    "import/extensions": "off"
  },
  "globals": {
    "chrome": "readonly"
  },
  "ignorePatterns": ["watch.js", "dist/**"]
}
