.ZP_language-select {
  width: 100%;

  .ZP_language-label {
    display: flex;
    align-items: center;

    img {
      margin-right: 0.5rem;
    }
  }
}

.ZP_dropdown-menu.ZP_dropdown-menu--language {
  max-height: 300px;
  height: fit-content;
  width: 140px;
  padding-right: 0;
  .ZP_prompt-container__search-bar{
    font-size: var(--fonts-body-sm);
    border-radius: var(--borders-radius-base);
    padding-right: 0;
    margin-bottom: 0.5rem;
    width: 95%;
  }
}

.ZP_language-items {
  overflow-y: scroll;

  li.ZP_language-item-wrapper {
    text-align: center;
    padding: 0;
    width: 100%;
    height: 3rem;
    margin-bottom: 0.075rem;

    &.active {
      background-color: var(--background-color-hover);
    }

    button.ZP_language-item {
      padding: 0.25rem;
      display: flex;
      font-size: var(--fonts-body-sm);
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: 100%;

      img {
        margin-right: 0.5rem;
      }
    }
  }


}